.cabecera{
    background-color: white;
    padding: 34px 5vw;
    h1{
        span{
            text-decoration: line-through;
        }
    }

    .corto{
        @include texto;
        margin: 15px 0px;
        text-align: justify;
    }

    .largo{
        @include texto;
        margin: 2vh 0px;
        text-align: justify;
        display: none;
    }

    a{
        text-decoration: none;
        font-weight: 500;

        .boton{
            
            @include botones;
            color: #060A24;

            &:hover{
                background: rgb(0,240,184);
                background: linear-gradient(94deg, rgba(0,240,184,1) 0%, rgba(0,0,254,1) 100%);
            }
        }
    }
}

@media screen and (min-width: 768px){

    .cabecera{
        padding:3rem 6rem;


        h1{
            font-size: 64px;
            line-height: 70px;

        }

        a{
            .boton{
                width: 100%;
                max-width: 226px;
                margin: 0px;
            }
        }
    }
}


@media screen and (min-width: 992px){
    .cabecera{
        padding: 8.5rem 12.5rem 5rem  12.5rem;

        h1{
            line-height: 64px;
        }

        .corto{
            display: none;
        }

        .largo{
            display: inline-block;
            font-size: 16px;
        }

        a{
            .boton{
                margin: 2.3rem 0 0rem 0;
                font-size: 18px;
                padding: 17px 0;
            }
        }
    }
}