.episodios{
    background: rgb(0,0,255);
    background: linear-gradient(180deg, rgba(0,0,255,1) 0%, rgba(0,0,163,1) 100%);
    transform: skewY(-6deg);
    text-align: left;

    .derecho{
        transform: skewY(6deg);
        padding: 3.9vh 0vw 13vh 0vw;
    }

    h2{
        color: #ffffff;
    }

    .podcast{
        margin-top: 3vh;
        width: 100%;
        max-width: 584px;
    }
}

@media screen and (min-width: 768px){
    .episodios{    
        padding: 0;
        .derecho{
            padding: 3rem 6rem;
            h1{
                font-size: 48px;
            }
        }
    }
}