.nosotros{
    display: flex;
    flex-flow: row wrap; /*sacar en el @media*/
    align-items: center;
    justify-content: center;
    position: relative;
    top:-76px;
    max-width: 100%;
    padding:0px;

    .celular{
        width: 100vw;
        max-width: 457.6px;
    }

    .texto{
        padding: 0vh 5vw;
        h2{
            margin-top: 3.4vh;
        }

        p{
            @include texto;
            margin-top: 1vh;
        }

        .parr2{
            margin-top: 1.5vh;
        }
    }
}