
.novedades{
    background: rgb(0,0,255);
    background: linear-gradient(180deg, rgba(0,0,255,1) 0%, rgba(0,0,163,1) 100%);
    transform: skewY(-6deg);
    margin-top: 2.7rem;

    .derecho{
        transform: skewY(6deg);
        padding: 1.8rem 0vw 5.2rem 0vw;

        h2{
            color: #ffffff;
            text-align: center;
            padding-right: 0px;
        }

        a{
            text-decoration: none;
            font-weight: 500;

            .boton{
                @include botones;
                margin: 36px auto;
                color: #060A24;

                &:hover{
                    background: rgb(0,240,184);
                    background: linear-gradient(94deg, rgba(0,240,184,1) 0%, rgba(0,0,254,1) 100%);
                }
                
            }

        }
    }
}


@media screen and (min-width:992px){
    .novedades{
        padding-top:7rem;
        padding-bottom: 6.4rem;
        background: rgb(0,0,255);
        background: linear-gradient(90deg, rgba(0,0,163,1) 0%, rgba(0,0,255,1) 100%);

        .derecho{
            h2{
                font-size: 48px;
                line-height: 62px;
                padding-bottom: 1.5rem;
            }

            a{

            
                .boton{
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }

}