.topicos{


    h2{
        @include titulos;
        padding: 1.8rem 0 0 0;

    }

    .temas{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .tema{
            text-align: center;
            padding-top: 2.5rem;
            width: 100%;
            
            h3{
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: 500;
                font-size: 24px;
                color: #060A24;
                text-align: center;
                padding-top: 9px;
            }
        }

        .dos{
            padding-top: 3rem;
        }
        .tres, .cuatro{
            padding-top: 4rem;
        }
    }
}

@media screen and (min-width: 992px){
    .topicos{
        padding-bottom: 4rem;

        h2{
            padding-top: 3rem;
            padding-left: 8rem;
            font-size: 48px;
            line-height: 62px;
        
        }

        .temas{
            padding-right: 8rem;
            padding-left: 8rem;
            display: flex;
            flex-flow: initial;
            justify-content: space-evenly;

            .tema{
                width: 240px;

                img{
                    padding-bottom: 1rem;
                }
            }

            .uno{
              padding-top: 65px;  
            } 
            
            .dos{
                padding-top: 65px;
            } 
            .tres .cuatro{
                
            }
            
        }
    }
}